*.bak
*.pyc
*.pyo
*.xml
*.sw?
~*
.~*
FoxPro.zip
cc/
clicketyclick/
dbf/docs/
dbf/__pycache__/
dist/
emptytemptable
emptytemptable.dbt
huh.csv
laurent/
pe.kmec/
puzzles/
repo_test.log
tempy
tempy.dbf
tempy.dbt
test.dbf
test.fpt
test_backup.dbf
test_backup.fpt
test_export.csv
